<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.digitcreativestudio.ayoolahragaid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ayoolahraga_home"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ayoolahraga_home"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/security_config"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name="com.digitcreativestudio.ayoolahragaid.main.venue.SearchVenueActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitcreativestudio.ayoolahragaid.main.setting.TutorialActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitcreativestudio.ayoolahragaid.main.setting.AboutActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitcreativestudio.ayoolahragaid.main.community.ListCommunityActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitcreativestudio.ayoolahragaid.main.community.DetailCommunityActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitcreativestudio.ayoolahragaid.main.blog.DetailBlogActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBXdjWdgobZJlrnA6FWs7oa6geTEHy1weU" />

        <activity
            android:name="com.digitcreativestudio.ayoolahragaid.main.venue.RatingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitcreativestudio.ayoolahragaid.main.account.EditAccountActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitcreativestudio.ayoolahragaid.main.venue.ListVenueActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitcreativestudio.ayoolahragaid.main.venue.DetailVenueActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitcreativestudio.ayoolahragaid.auth.AuthActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitcreativestudio.ayoolahragaid.main.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.digitcreativestudio.ayoolahragaid.BasicActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitcreativestudio.ayoolahragaid.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>